In [60]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [61]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df=pd.read_csv("../Resources/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-01-27 21:06:55,19.7297,-155.0900,73.40,83,90,6.26
1,1,Grong,NO,2021-01-27 21:06:56,64.4654,12.3149,28.40,86,75,9.22
2,2,Chuy,UY,2021-01-27 21:06:56,-33.6971,-53.4616,76.68,77,3,12.62
3,3,Houston,US,2021-01-27 21:05:44,29.7633,-95.3633,68.00,24,1,23.02
4,4,Georgetown,MY,2021-01-27 21:06:56,5.4112,100.3354,78.01,94,40,2.30
...,...,...,...,...,...,...,...,...,...,...
569,569,Roma,US,2021-01-27 21:04:07,43.2128,-75.4557,28.99,69,90,6.91
570,570,Venado Tuerto,AR,2021-01-27 21:09:06,-33.7456,-61.9688,95.00,14,0,3.00
571,571,Ituango,CO,2021-01-27 21:09:06,7.1712,-75.7640,68.50,88,92,3.13
572,572,Malatya,TR,2021-01-27 21:09:06,38.5000,38.0000,46.40,42,75,6.91
573,573,Knysna,ZA,2021-01-27 21:09:07,-34.0363,23.0471,59.00,88,75,4.61

In [62]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [63]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [64]:
# max_temp=city_data_df["Max Temp"]
# temps=[]
# for temp in max_temp:
#     temps.append(max(temp,0))
    # Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
temps

[73.4,
 28.4,
 76.68,
 68.0,
 78.01,
 21.2,
 0,
 0,
 87.21,
 57.0,
 28.0,
 59.0,
 32.0,
 52.0,
 48.99,
 73.4,
 79.34,
 0,
 72.82,
 63.93,
 80.6,
 61.23,
 57.2,
 0,
 16.66,
 36.0,
 73.4,
 17.76,
 78.01,
 62.6,
 0,
 46.4,
 48.99,
 66.0,
 60.58,
 66.2,
 57.0,
 78.8,
 78.58,
 0,
 87.8,
 0,
 30.0,
 69.75,
 25.48,
 78.84,
 6.8,
 48.2,
 0,
 72.07,
 41.0,
 45.0,
 0,
 50.0,
 0,
 16.0,
 21.99,
 0,
 78.48,
 28.4,
 86.0,
 87.8,
 25.0,
 0,
 48.2,
 80.6,
 64.4,
 69.01,
 0,
 71.29,
 26.6,
 26.89,
 82.4,
 76.84,
 66.0,
 62.11,
 0,
 77.0,
 50.0,
 79.34,
 24.8,
 73.83,
 57.0,
 77.76,
 19.4,
 77.5,
 73.45,
 0,
 0,
 51.01,
 14.0,
 69.8,
 3.2,
 75.6,
 59.0,
 84.2,
 0,
 39.56,
 21.99,
 50.0,
 33.8,
 0,
 77.0,
 0,
 44.01,
 14.07,
 80.08,
 84.2,
 16.02,
 78.01,
 55.4,
 51.01,
 71.01,
 0,
 21.2,
 0,
 73.99,
 77.02,
 62.6,
 32.0,
 35.26,
 24.8,
 48.0,
 33.8,
 67.62,
 60.8,
 84.61,
 18.1,
 75.13,
 37.4,
 49.06,
 19.87,
 74.25,
 39.2,
 65.8,
 84.2,
 30.2,
 0,
 0,
 58.66,
 78.33,
 75.47,
 39.2,
 80.6,
 8.15,
 48.2,
 8.6,
 80.92,
 57.2,
 81.5,
 76.71,
 67.86,
 66.22,
 37.4,
 70.0,
 73.0,
 78.42,
 82.15,
 57.2,
 66.2,
 58.57,
 75.2,
 33.8,
 69.8,
 24.8,
 29.7,
 86.0,
 0,
 64.99,
 64.0,
 80.6,
 78.35,
 82.4,
 82.4,
 82.15,
 84.78,
 66.2,
 73.27,
 26.01,
 60.6,
 77.0,
 64.99,
 34.0,
 0,
 39.0,
 76.8,
 73.6,
 75.2,
 80.6,
 80.6,
 60.8,
 68.0,
 87.3,
 9.82,
 59.0,
 0,
 69.8,
 10.24,
 44.6,
 65.17,
 28.4,
 44.01,
 57.85,
 80.49,
 21.2,
 0,
 72.0,
 80.6,
 26.44,
 33.8,
 32.0,
 0,
 3.2,
 84.0,
 59.99,
 0,
 33.8,
 6.8,
 0,
 30.2,
 2.26,
 19.33,
 0,
 33.01,
 19.4,
 63.0,
 45.0,
 75.96,
 77.02,
 81.81,
 59.63,
 73.99,
 75.0,
 71.6,
 0,
 0,
 6.8,
 0,
 0.54,
 73.72,
 71.6,
 30.2,
 79.27,
 21.34,
 78.8,
 75.2,
 77.05,
 80.6,
 71.47,
 0,
 64.6,
 60.19,
 45.45,
 64.17,
 77.77,
 78.01,
 84.2,
 0,
 57.99,
 77.7,
 74.55,
 49.37,
 68.0,
 47.14,
 82.4,
 75.54,
 41.0,
 66.99,
 55.99,
 83.84,
 69.3,
 79.27,
 68.0,
 87.75,
 0,
 76.48,
 39.24,
 32.0,
 0,
 68.0,
 12.72,
 30.2,
 28.0,
 0,
 0,
 72.23,
 71.83,
 74.88,
 30.99,
 77.67,
 66.2,
 75.25,
 74.57,
 80.6,
 70.12,
 76.75,
 84.72,
 0,
 75.58,
 80.6,
 74.12,
 73.38,
 1.85,
 51.8,
 69.46,
 0,
 81.41,
 0,
 66.99,
 62.98,
 10.4,
 92.14,
 0,
 25.0,
 63.09,
 92.43,
 0,
 37.4,
 53.6,
 15.8,
 0,
 0,
 57.96,
 80.6,
 69.57,
 74.8,
 0,
 32.0,
 34.0,
 41.0,
 32.0,
 81.82,
 55.4,
 0,
 39.7,
 84.2,
 80.6,
 60.8,
 78.8,
 78.8,
 57.0,
 66.2,
 80.67,
 53.19,
 0,
 56.08,
 82.9,
 0,
 46.83,
 43.0,
 33.12,
 33.8,
 54.0,
 25.0,
 57.2,
 15.42,
 29.01,
 66.99,
 77.13,
 39.54,
 83.62,
 24.19,
 39.97,
 77.0,
 36.0,
 78.8,
 80.04,
 68.49,
 71.31,
 71.62,
 78.8,
 73.4,
 84.4,
 23.0,
 0,
 0,
 50.0,
 78.31,
 0,
 45.84,
 0,
 50.83,
 0,
 37.99,
 37.4,
 66.0,
 34.0,
 78.17,
 51.01,
 80.6,
 46.99,
 0,
 47.91,
 74.66,
 84.2,
 59.0,
 45.0,
 48.2,
 67.71,
 16.0,
 98.01,
 0,
 72.54,
 80.4,
 25.77,
 35.44,
 73.29,
 25.0,
 1.4,
 66.2,
 78.01,
 86.67,
 75.2,
 0,
 47.05,
 77.0,
 75.69,
 8.6,
 75.2,
 84.2,
 82.4,
 32.0,
 48.0,
 79.0,
 33.8,
 35.28,
 15.8,
 77.0,
 68.09,
 60.06,
 80.17,
 14.43,
 84.2,
 60.75,
 70.18,
 78.8,
 0,
 0,
 53.6,
 26.6,
 77.43,
 28.4,
 82.69,
 39.2,
 80.6,
 48.99,
 0,
 0,
 81.0,
 17.6,
 78.8,
 42.8,
 79.0,
 84.31,
 22.03,
 72.32,
 86.0,
 60.8,
 77.0,
 46.35,
 78.42,
 0,
 17.6,
 12.2,
 0,
 47.08,
 74.3,
 75.85,
 83.73,
 19.0,
 82.4,
 69.75,
 82.81,
 60.31,
 32.0,
 84.0,
 30.0,
 45.07,
 79.95,
 0,
 30.58,
 49.55,
 4.71,
 78.69,
 63.0,
 1.99,
 28.4,
 64.22,
 59.49,
 71.6,
 66.34,
 62.6,
 78.8,
 78.39,
 65.55,
 42.01,
 46.0,
 59.0,
 75.74,
 26.6,
 48.0,
 30.2,
 55.71,
 78.8,
 26.6,
 1.45,
 62.11,
 66.99,
 89.6,
 0,
 76.59,
 71.6,
 24.3,
 33.8,
 51.8,
 0,
 78.75,
 73.0,
 82.4,
 34.0,
 50.0,
 33.8,
 67.05,
 0,
 77.5,
 19.42,
 0,
 71.22,
 77.0,
 46.44,
 60.01,
 79.95,
 58.75,
 73.4,
 69.48,
 75.2,
 84.2,
 33.01,
 27.88,
 78.75,
 73.83,
 69.8,
 78.8,
 60.8,
 79.79,
 24.8,
 82.4,
 73.4,
 69.8,
 76.28,
 55.99,
 81.03,
 62.02,
 30.2,
 32.0,
 74.48,
 75.04,
 81.3,
 51.28,
 82.4,
 30.99,
 33.8,
 0,
 50.04,
 73.4,
 0,
 81.09,
 0,
 6.8,
 28.99,
 95.0,
 68.5,
 46.4,
 59.0]

In [65]:
import gmaps
# Heatmap of temperature
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]
# Assign the figure variable.
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer=gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in max_temp],dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# Heatmap of percent humidity
locations=city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=300,point_radius=4,)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Heatmap of percent cloudiness
#add locations
locations=city_data_df[["Lat","Lng"]]
#add cloudiness
clouds=city_data_df["Cloudiness"]
#add figure and the basics of what the figure will show
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#add heatmap and what is added onto the heatmap
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,point_radius=1.5,max_intensity=300)
#add heatmap to figure
fig.add_layer(heat_layer)
#call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
#heatmap of windspeed
#add locations
locations=city_data_df[["Lat","Lng"]]
#add wind speed
wind=city_data_df["Wind Speed"]
#add figure which will show the basic maps
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#add heat layer which will add the data onto the maps
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False,point_radius=1.5,max_intensity=300)
#add the heat layer onto the maps
fig.add_layer(heat_layer)
#call fig
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [70]:
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-01-27 21:06:55,19.7297,-155.0900,73.40,83,90,6.26
2,2,Chuy,UY,2021-01-27 21:06:56,-33.6971,-53.4616,76.68,77,3,12.62
4,4,Georgetown,MY,2021-01-27 21:06:56,5.4112,100.3354,78.01,94,40,2.30
15,15,Vaini,TO,2021-01-27 21:03:05,-21.2000,-175.2000,73.40,100,90,10.36
16,16,Rikitea,PF,2021-01-27 21:06:59,-23.1203,-134.9692,79.34,75,39,14.18
...,...,...,...,...,...,...,...,...,...,...
547,547,Tacna,PE,2021-01-27 21:05:28,-18.0056,-70.2483,73.40,64,0,13.80
549,549,Batticaloa,LK,2021-01-27 21:09:01,7.7102,81.6924,76.28,77,91,8.43
555,555,Zacualpan,MX,2021-01-27 21:09:02,21.2500,-105.1667,74.48,58,21,5.61
556,556,Sao Filipe,CV,2021-01-27 21:09:03,14.8961,-24.4956,75.04,69,0,5.35
564,564,Iquique,CL,2021-01-27 21:09:04,-20.2208,-70.1431,73.40,64,0,16.11

In [71]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
0         Hilo      US     73.40  19.7297 -155.0900
2         Chuy      UY     76.68 -33.6971  -53.4616
4   Georgetown      MY     78.01   5.4112  100.3354
15       Vaini      TO     73.40 -21.2000 -175.2000
16     Rikitea      PF     79.34 -23.1203 -134.9692

In [79]:
# Set parameters to search for a hotel.
params={"radius":5000,
       "type":"lodging",
       "key":g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [82]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,73.40,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Chuy,UY,76.68,-33.6971,-53.4616,Nuevo Hotel Plaza
4,Georgetown,MY,78.01,5.4112,100.3354,Cititel Penang
15,Vaini,TO,73.40,-21.2000,-175.2000,Keleti Beach Resort
16,Rikitea,PF,79.34,-23.1203,-134.9692,Pension Maro'i
18,Japura,ID,72.82,-0.3167,102.3500,Rumah mbah Jamah
26,Kuching,MY,73.40,1.5500,110.3333,Hilton Kuching
28,Grand Gaube,MU,78.01,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
37,Saint-Pierre,RE,78.80,-21.3393,55.4781,Lindsey HÃ´tel
38,Port Blair,IN,78.58,11.6667,92.7500,Welcomhotel Bay Island Port Blair

In [ ]:
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [90]:
# Add a heatmap of temperature for the vacation spots.
locations=hotel_df[["Lat","Lng"]]
max_temp=hotel_df["Max Temp"]
fig=gmaps.figure(center=(30.00,31.00),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,point_radius=1.5,max_intensity=300)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))